  <!-- basic layout for experiment -->
            <div id="container-exp">
                <h1>Experiment complete</h1>
                <p>Thank you for your participation!</p>
                <div id="summary">
                    <div><span class=left>ID:</span><span class=right id=partid></span></div>                    
                    <div><span class=left>Round 1 accuracy:</span><span class=right id=acc_round1></span></div>
                    <div><span class=left>Round 2 accuracy:</span><span class=right id=acc_round2></span></div>
                    <div><span class=left>Combined accuracy:</span><span class=right id=acc_combined></span></div>
                </div>
                <button id="check-button" type="button" class="btn btn-default btn-lg" autocomplete="off">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
